# ==========================
# Data files
# ==========================
*.npy
*.csv

# ==========================
# Generated experiment outputs
# ==========================
exp_1/imgs/
exp_1/outputs/
exp_1/tables/

# Generated archives
*.zip

# Generated models / weights
*.keras
*.h5
*.pkl

# ==========================
# Images
# ==========================
*.png

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Python
# ==========================
__pycache__/
*.pyc

# ==========================
# Environments
# ==========================
.env
.venv/

# ==========================
# Generated processed data
# ==========================
processed/processed/
